<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Narinder Kaur - Me</h1>
    <p>Welcome to my ExpressJS lab concerning my family. Choose any on the names above to see the details 
        regarding members of my nuclear family
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>